{% extends 'home/base.html' %}
{% load static %}

{% block content %}
  
  <section class="rounded text-center col-md-10 offset-md-1 mt-4 bg-dark-o text-light fst-italic">
    <div class="container py-3">
      <div class="row">
          <div class="circle-container col-md-4 offset-md-4 container d-flex justify-content-center align-items-center">
            <img src="{% static 'portafolio/images/perfil.jpg'%}" alt="Foto Gonzalo Maldonado" class="img-fluid">
          </div>
          <h1 class="jumbotron-heading animate__animated animate__fadeInUp">Gonzalo Maldonado</h1>
          <h5>Programador Backend - Python</h5>
          <p class="lead text-light">Bienvenido a mi portafolio. Aquí podrás encontrar una muestra de mis proyectos y habilidades.</p>
      </div>
    </div>
  </section>
  
  <section class="projects animate__animated animate__fadeInUp text-light mt-5 fst-italic">
    <div class="container">
      <h2 class="text-center mb-3">Mis conocimientos</h2>
      <div class="row">
        <div class="col-md-10 offset-md-1 mt-2 shadow bg-dark-o rounded p-3">
          <a href="{% url 'projects_detail' %}" class="card bg-dark text-light text-center nav-link">
            <div class="card-body">
              <h5 class="card-title text-info fw-bold">Fundamentos de programación</h5>
              <p>Conceptos básicos, como variables, tipos de datos, estructuras de control y funciones</p>
              <h5 class="card-title text-info">Fundamentos de la web</h5>
              <p>Protocolos HTTP y HTTPS, sus métodos(GET, POST, etc.) y conceptos básicos de HTML, CSS y 
                JavaScript</p>
              <h5 class="card-title text-info">Fundamentos de Base de Datos</h5>
              <p>Tablas, consultas SQL y relaciones entre tablas</p>
              <h5 class="card-title text-info">Django</h5>
              <p>Conceptos de django, como la estructura de un proyecto y una aplicación, definiendo modelos
                , vistas y plantillas <br>
                Interacción con BBDD utilizando el ORM de Django
              </p>
              <h5 class="card-title text-info">Desarrollo de APIs RESTful</h5>
              <p>Creación de una API RESTful con Django REST Framework, <br>
                comprendiendo los conceptos de enrutamiento, serialización y autenticación</p>
              <h5 class="card-title text-info">Desarrollo de funcionalidades avanzadas</h5>
              <p>Implemenatción de autenticación y autorización en aplicación Django.<br>
                Uso de bibiliotecas y herramientas adicionales para agregar funcionalidades como el envío de 
                correos electrónicos, integración con servicios de terceros</p>
              <h5 class="card-title text-info">Pruebas y depuración</h5>
              <p>Escribir pruebas unitarias y funcionales en aplicación Django.<br>
                Técnicas de depuración para identificar y solucionar errores en el código</p>
            </div>
          </a>
        </div>

        <div class="col-md-10 offset-md-1 mt-5 shadow bg-dark-o rounded p-3">
          <div class="container bg-dark text-light text-center">
            <div class="row">
              <h5 class="fw-bold text-uppercase text-center mb-3 mt-3">Skills</h5>

            {% for skill in skills %}
            <div class="col-md-3">
                  <img class="image-profile" src="{{ skill.photo.url }}" alt="{{skill.name}}">
                  <p class="">{{skill.name|upper}}</p>
                </div>
                  {% endfor %}

            </div>
          </div>
        </div>
        
        <a href="{% url 'projects_detail' %}" class="btn btn-primary col-md-6 offset-md-3 mt-4 mb-5">Ver detalle proyecto</a>
      </div>
    </div>
  </section>

{% endblock %}