.bg-image {
  background-image: url('./images/tech.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-dark-o {
  background: radial-gradient(ellipse at center, rgb(42, 39, 39) 20%, transparent 100%);
}


.circle-container {
  width: 34%;
  height: 350px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 15%;
  overflow: hidden;
  border: 2px solid rgb(182, 170, 170);
}

.circle-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.8);
  padding-top: 25px;
}

strong {
  color: rgb(27, 136, 173);
}

.bg-gris-o {
  background-color: rgba(45, 45, 45, .93);
}