<!-- Heredar de base -->
{% extends 'base/base.html' %}

<!-- Cargar archivos estaticos -->
{% load static%}

{% block css %}
<link href="{% static 'user/css/style_user.css' %}" rel="stylesheet" type="text/css">
{% endblock css%}

{% block title %} Ingresar {% endblock title %}

{% block content %}

{% if user.is_authenticated %}
<h2 class="alert-session">Usted ya ha iniciado sesión, <a href="{% url 'home' %}">Clic aquí</a> para ir a la página
    principal
</h2>
{% else %}

<div class="form-content">
    <form method="POST" class="form-general bg-dark">
        <h2 class="text-light fw-bold">Iniciar sesión</h2>
        <div class="col-md-6 text-danger">
            {{ form.non_field_errors|join:", " }}
        </div>
        <!-- Agregar token -->
        {% csrf_token %}
        <table>
            <!-- Obtener formulario  -->
            {% for field in form %}
            <div class="p-2 col-md-6">
                {{field}}
            </div>
            {% endfor %}
        </table>

        <!-- Redirigir a olvidar la contraseña   -->
        <a href="{% url 'password_reset' %}" class="reset_password mt-3">¿Has olvidado la contraseña?</a>
        <input type="submit" value="Ingresar" class="btn-submit input-login">
    </form>
</div>
{% endif %}
{% endblock content %}